<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/WIN 10/IdeaProjects/MobileAutomation_Project">
        <classes>
            <class name="testcases.SigUpTest">
                <methods>
                    <include name="testSignUp"/>
                </methods>
            </class>
            <class name="testcases.SignIn">
                <methods>
                    <include name="singInWithDDT"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>