<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/WIN 10/IdeaProjects/Appium">
        <parameter name="deviceName" value="4DSWVK4LCQORAI8H"></parameter>
        <parameter name="platformName" value="Android"></parameter>
        <classes>
            <class name="basics.SendMessage">
                <methods>
                    <include name="send_SMS"/>
                    <include name="ClipBoard"/>
                </methods>
            </class>
            <class name="basics.Test1">
                <methods>
                    <include name="goToHomePageBeforeSingIn"/>
                    <include name="scrollDownTest"/>
                </methods>
            </class>
            <class name="basics.Try">
                <methods>
                    <include name="scrollDown"/>
                </methods>
            </class>
            <class name="basics.WebAutonation">
                <methods>
                    <include name="testWeb"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>